* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  background-color: #000;
}

@font-face {
  font-family: Montserrat;
  src: url(Assets/Font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat-Black;
  src: url(Assets/Font/static/Montserrat-Black.ttf);
}

body {
  font-family: montserrat;
}

.text-white {
  color: #fff !important;
}

.clear {
  clear: both;
}

.text-10px {
  font-size: 10px !important;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 40px;
}

#header .header-left {
  display: flex;
  align-items: center;
}

#header .menu > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#header .menu > ul a {
  display: inline-block;
  padding: 11px 30px;
}

#header .menu > ul li {
  position: relative;
}

#header .menu > ul li.to-kien:hover > a {
  border-bottom: 2px solid #0071bc;
  color: #0071bc;
  font-weight: bold;
  transition: 0.3s linear;
}

#header .menu > ul li.kien-flex:hover > a {
  border-bottom: 2px solid #fbb03b;
  color: #fbb03b;
  font-weight: bold;
  transition: 0.3s linear;
}

#header .menu > ul li.tt-sk:hover > a {
  border-bottom: 2px solid #39b54a;
  color: #39b54a;
  font-weight: bold;
  transition: 0.3s linear;
}

#header .menu > ul li.kien-hh:hover > a {
  border-bottom: 2px solid #ed1e79;
  color: #ed1e79;
  font-weight: bold;
  transition: 0.3s linear;
}

#header .menu > ul li.kien-tim:hover > a {
  border-bottom: 2px solid #fcee21;
  color: #fcee21;
  font-weight: bold;
  transition: 0.3s linear;
}

#header .menu > ul li.lien-he:hover > a {
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  transition: 0.3s linear;
}

#header .menu > ul > li > a {
  font-size: 12px;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

#header .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #3e3436;
  animation: submenuanimation ease 0.5s;
}

@keyframes submenuanimation {
  from {
    top: 200%;
    opacity: 0;
  }
  to {
    top: 100%;
    opacity: 1;
  }
}

#header .sub-menu li {
  list-style-type: none;
  min-width: 150px;
}

#header .sub-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

#header .sub-menu li:hover a {
  font-weight: bold;
  color: #fbb03b;
}

#header .menu > ul li:hover .sub-menu {
  display: flex;
  transition: 0.5s linear;
}

#header .header-left .search-button {
  margin-left: 10px;
  position: relative;
}

#header .header-left .search-button:hover input {
  display: inline-block;
}

#header .header-left .search-button input {
  top: 100%;
  right: 0;
  position: absolute;
  margin-right: -2px;
  border-radius: 5px;
  outline: none;
  background-color: #3e3436;
  color: #fff;
}

#header .header-left input {
  display: none;
}

#homepage-content {
  margin-top: 20px;
}

.display-flex {
  display: flex;
}

#homepage-content .fisrt-content .fisrt-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  transform: translateX(25px);
}

#homepage-content .fisrt-content .fisrt-content-left img {
  margin: 10px 0;
  width: 25%;
}

#homepage-content .fisrt-content .fisrt-content-left button {
  background-color: #1c7c25;
  padding: 14px 36px;
  border: none;
  font-size: 13px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

#homepage-content .fisrt-content .fisrt-content-left a {
  transform: translateX(-12px);
  margin-top: 60px;
}

#homepage-content .fisrt-content .fisrt-content-left .trapezium {
  height: 0;
  width: 120px;
  border-bottom: 43px solid #1c7c25;
  border-left: 96px solid transparent;
  border-right: 25px solid transparent;
  position: absolute;
  top: 0;
  z-index: -1;
}

#homepage-content .fisrt-content .fisrt-content-right {
  flex: 1;
  display: flex;
}

#homepage-content .fisrt-content .fisrt-content-right img {
  width: 60%;
  margin-left: 53px;
}

#homepage-content .second-content {
  justify-content: space-around;
  margin: 0 150px;
  margin-top: 30px;
}

#homepage-content .second-content .second-content-left {
  width: 30%;
}

#homepage-content .second-content .second-content-left img {
  width: 70%;
}

#homepage-content .second-content .second-content-right {
  margin-top: 70px;
  margin-left: 100px;
  width: 60%;
}

#homepage-content .second-content .second-content-right .index p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

#homepage-content .second-content .second-content-right .index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #454545;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 30px;
  height: 60px;
  margin: 15px 0;
}

#homepage-content .second-content .second-content-right .index .index-left {
  display: flex;
  align-items: center;
}

#homepage-content .second-content .second-content-right .index .index-left .img {
  width: 80px;
}

@keyframes change-background {
    0%{
        width: 0%;
        border-radius: 11px 0px 0 13px;
    }
    100%
    {
        width: 100%;
        border-radius: 11px;
    }
}

@keyframes rotate{
  0%{
    transform: rotate(0)
  }
  25%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-45deg);
  }
  100%
  {
    transform: rotate(0)
  }
}

@keyframes rotate20{
  0%{
    transform: rotate(0)
  }
  25%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-20deg);
  }
  100%
  {
    transform: rotate(0)
  }
}

#homepage-content .second-content .second-content-right .main:hover .index p {
    color: #000;
    z-index: 2;
}

#homepage-content .second-content .second-content-right .ui-ux {
    position: relative;
}

#homepage-content .second-content .second-content-right .uiux-main:hover .change-uiux{
    animation: change-background .5s linear forwards;
}

#homepage-content .second-content .second-content-right .ui-ux .change-uiux {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: #fcee21;
    z-index: 1;
}

#homepage-content .second-content .second-content-right .uiux-main:hover .index{
    border-color: #fcee21;
    cursor: pointer;
}

#homepage-content .second-content .second-content-right .branding {
  position: relative;
}

#homepage-content .second-content .second-content-right .branding-main:hover .change-branding{
  animation: change-background .5s linear forwards;
}

#homepage-content .second-content .second-content-right .branding .change-branding {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #fbb03b;
  z-index: 1;
}

#homepage-content .second-content .second-content-right .branding-main:hover .index{
  border-color: #fbb03b;
  cursor: pointer;
}

#homepage-content .second-content .second-content-right .animation {
  position: relative;
}

#homepage-content .second-content .second-content-right .animation-main:hover .change-animation{
  animation: change-background .5s linear forwards;
}

#homepage-content .second-content .second-content-right .animation .change-animation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #00dd0a;
  z-index: 1;
}

#homepage-content .second-content .second-content-right .animation-main:hover .index{
  border-color: #00dd0a;
  cursor: pointer;
}

#homepage-content .second-content .second-content-right .illustrator {
  position: relative;
}

#homepage-content .second-content .second-content-right .illustrator-main:hover .change-illustrator{
  animation: change-background .5s linear forwards;
}

#homepage-content .second-content .second-content-right .illustrator .change-illustrator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #e6e6e6;
  z-index: 1;
}

#homepage-content .second-content .second-content-right .illustrator-main:hover .index{
  border-color: #e6e6e6;
  cursor: pointer;
}

#homepage-content .second-content .second-content-right .baobi {
  position: relative;
}

#homepage-content .second-content .second-content-right .baobi-main {
  position: relative;
}

#homepage-content .second-content .second-content-right .baobi-main:hover .change-baobi{
  animation: change-background .5s linear forwards;
}

#homepage-content .second-content .second-content-right .baobi .change-baobi {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #0071bc;
  z-index: 1;
}

#homepage-content .second-content .second-content-right .baobi-main:hover .index{
  border-color: #0071bc;
  cursor: pointer;
}

#homepage-content .second-content .second-content-right .child-of-baobi {
  position: absolute;
  top: 34px;
  right: -80px;
  animation: rotate 2s linear infinite;
  z-index: 2;
}

#homepage-content .second-content .second-content-right .hidden-content {
  width: 495px;
  margin-left: 30px;
  display: none;
}

#homepage-content .second-content .second-content-right .hidden-content.active {
  display: block;
}

#homepage-content .second-content .second-content-right .hidden-content p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  text-align: justify;
}

#homepage-content .second-content .second-content-right .hidden-content button {
  width: 152px;
  height: 32px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

#homepage-content .third-content .third-content-left button {
  background-color: #1c7c25;
  padding: 14px 36px;
  border: none;
  font-size: 13px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

#homepage-content .third-content {
  margin-top: 50px;
  justify-content: space-evenly;
}

#homepage-content .third-content .third-content-left {
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 40px;
}

#homepage-content .third-content .third-content-left button {
  background-color: #0071bc;
  padding: 14px 36px;
  border: none;
  font-size: 13px;
  color: #fff;
  position: relative;
  cursor: pointer;
  z-index: 1;
  margin-top: 20px;
}

#homepage-content .third-content .third-content-left .trapezium {
  height: 0;
  width: 120px;
  border-bottom: 43px solid #0071bc;
  border-left: 96px solid transparent;
  border-right: 25px solid transparent;
  position: absolute;
  top: 0;
  z-index: -1;
}

#homepage-content .third-content .third-content-left p {
  width: 410px;
  text-align: justify;
  color: #fff;
  margin: 20px 0;
  font-size: 12px;
} 

#homepage-content .fourth-content {
  margin: 100px 100px 0px 100px;
  justify-content: space-between;

}

#homepage-content .fourth-content .homepage4 {
  animation: rotate20 2s linear infinite;
}

#homepage-content .fourth-content .main-content {
  width: 21%;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#homepage-content .fourth-content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 125px;
  width: 85%;
  margin-top: 20px;
  justify-content: center;
  z-index: 1;
}

#homepage-content .fourth-content .tintuc a {
  background-color: #ed1e79;
  height: 125px;
  width: 85%;
  border-radius: 30px;
  position: absolute;
  margin-top: 20px;
  z-index: 0;
}

#homepage-content .fourth-content .thuvien a {
  background-color: #0071bc;
  height: 125px;
  width: 85%;
  border-radius: 30px;
  position: absolute;
  margin-top: 20px;
  z-index: 0;
}

#homepage-content .fourth-content .diendan a {
  background-color: #fbb03b;
  height: 125px;
  width: 85%;
  border-radius: 30px;
  position: absolute;
  margin-top: 20px;
  z-index: 0;
}

#homepage-content .fourth-content .main-content:hover a {
  animation: transition4 ease 0.5s both;
}

#homepage-content .fourth-content .main-content:hover .button-xemthem {
  animation: transitionbuttonxemthem ease 0.5s forwards;
}

#homepage-content .fourth-content .main-content a{
  text-decoration: none;
}

#homepage-content .fourth-content .main-content .button-xemthem {
  color: #000;
  font-size: 16px;
  opacity: 0;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

@keyframes transition4{
  0%{
    top: 0;
    border-radius: 30px;
  }
  100%{
    top: 310px;
    height: 50px;
    border-radius: 20px;
  }
}

@keyframes transitionbuttonxemthem{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#homepage-content .fourth-content h4 {
  font-size: 25px;
  color: #fff;
  margin-top: 15px;
}

#homepage-content .fourth-content p.decs {
  font-size: 10px;
  color: #fff;
  width: 207px;
  text-align: justify;
  padding: 20px;
}

#addtionhomepage .addtion1 {
  animation: addtion1 1s linear infinite;
}

@keyframes addtion1 {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

#addtionhomepage .addtion2 {
  animation: addtion2 2s linear infinite;
}


@keyframes addtion2 {
  0%{
  }
  50%{
    transform: translateX(1100px);
  }
}

#ctv .ctv-first-part {
  background-color: #133ab7;
  padding: 100px 230px 0 230px;
  position: relative;
}

#ctv .ctv-first-part .title h3 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

#ctv .ctv-first-part .title p {
  font-size: 16px;
  text-align: center;
}

#ctv .ctv-first-part .content {
  margin-top: 45px;
  padding-bottom: 50px;
  display: flex;
}

#ctv .ctv-first-part .content h5 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#ctv .ctv-first-part .content .decs {
  border: solid 1px #fff;
  font-size: 14px;
  padding: 20px 15px;
  text-align: justify;
  margin: 20px 30px;
}

#ctv .ctv-first-part .content .decs:hover {
  transform: scale(1.2);
  transition: 1s;
}

#ctv .ctv-first-part img {
  position: absolute;
  bottom: 0;
  left: 100px;
  animation: bong-hong 2s linear infinite;
}

@keyframes bong-hong {
  0%{
    bottom: 0;
  }
  50%{
    bottom: 80%;
  }
}

#ctv .ctv-second-part {
  margin-top: 60px;
  position: relative;
}

#ctv .ctv-second-part .main-content {
  display: flex;
  padding-bottom: 170px;
  margin-left: 140px;
}

#ctv .ctv-second-part .time {
  color: #006ab0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-right: 60px;
}

#ctv .ctv-second-part .timemap {
  position: relative;
  width: 765px;
}

#ctv .ctv-second-part .timemap-content {
  position: absolute;
  top: 0;
  left: -9px;
  margin-top: 25px;
}

#ctv .ctv-second-part .timemap-content .decs p {
  color: #fff;
  margin-left: 25px;
  font-size: 16px;
}

#ctv .ctv-second-part .timemap-content .decs {
  margin-bottom: 50px;
}

#ctv .ctv-second-part .gr64 {
  position: absolute;
  top: 0;
  right: 85px;
}

#ctv .ctv-second-part .sub-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#ctv .ctv-second-part .sub-content .button-and-logo {
  display: flex;
}

#ctv .ctv-second-part .button-and-logo .logo {
  margin-left: 10px;
}

#ctv .ctv-second-part .sub-content p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 35px;
}

#ctv .ctv-second-part .sub-content .button {
  position: relative;
  display: inline-block;
  padding: 23px 30px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  background-color: #ed1e79;
}

#ctv .ctv-second-part .sub-content .button span {
  position: absolute;
  display: block;
}

#ctv .ctv-second-part .sub-content .button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, red);
}

#ctv .ctv-second-part .sub-content .button:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

#ctv .ctv-second-part .sub-content .button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, red);
}

#ctv .ctv-second-part .sub-content .button:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#ctv .ctv-second-part .sub-content .button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, red);
}

#ctv .ctv-second-part .sub-content .button:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#ctv .ctv-second-part .sub-content .button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, red);
}

#ctv .ctv-second-part .sub-content .button:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

#ctv .ctv-second-part .grey-layer {
  width: 90%;
  height: 450px;
  background-color: #606060;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  border-radius: 5px;
}

#contact {
  margin-left: 150px;
}

#contact h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 38px;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 15px;
}

#contact h3 span {
  color: #ff0092;
}

#contact .contact-content {
  display: flex;
}

#contact .contact-content .form p {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 5px;
}

#contact .contact-content .form input {
  width: 580px;
  height: 56px;
  border-radius: 20px;
  background-color: #000;
  border: 1px solid #2a2a2a;
  color: #fff;
  padding-left: 50px;
}

#contact .contact-content .form .image {
  position: relative;
}

#contact .contact-content .form .btn-gui {
  margin-top: 20px;
  margin-left: 15px;
}

#contact .contact-content .form .image img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#contact .contact-content .right {
  width: 100%;
  margin-left: 80px;
  margin-top: 30px;
  position: relative;
}

#contact .contact-content .right .right-content {
  position: absolute;
  z-index: 1;
}

#contact .contact-content .right p {
  width: 440px;
  color: #fff;
  font-size: 14px;
  text-align: justify;
  margin-top: 20px;
  margin-right: 100px;
}

#contact .contact-content .right img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-10%);
  z-index: 0;
}

#kienflex .kienflex-firstpart {
  position: relative;
  background-color: #000;
  height: 750px;
}

#kienflex .kienflex-firstpart .background {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#kienflex .kienflex-firstpart .kienflex-firstpart-posts {
  width: 35%;
  position: absolute;
  top: -30px;
  right: 140px;
}

#kienflex .kienflex-firstpart .kienflex-firstpart-posts .post {
  background-color: rgba(96, 96, 96, 0.5);
  margin-top: 60px;
  padding: 35px;
  border-radius: 5px;
}

#kienflex .kienflex-firstpart .kienflex-firstpart-posts .post h5 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Montserrat-Black;
  color: #FBB03B;
}

#kienflex .kienflex-firstpart .kienflex-firstpart-posts .post p {
  font-size: 12px;
  color: #fff;
  text-align: justify;
  border-top: 1px solid #fff;
  margin-top: 15px;
  padding-top: 20px;
}

#kienflex .kienflex-secondpart .background h5{
  font-size: 28px;
  font-family: Montserrat-Black;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

#kienflex .kienflex-secondpart .background p {
  font-size: 20px;
  text-align: center; 
  color: #fff;
}

#kienflex .kienflex-secondpart .background {
  padding-top: 10px;
  background-color: rgba(96, 96, 96, 0.5);
  position: relative;
  padding-bottom: 50px;
} 

#kienflex .kienflex-secondpart .carousel .card {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

#kienflex .kienflex-secondpart .maincontent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#kienflex .kienflex-secondpart .members {
  max-width: 998px;
  width: 100%;
  position: relative;
}

#kienflex .kienflex-secondpart .members .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% /3));
  overflow: hidden;
  scroll-behavior: smooth;
}

#kienflex .kienflex-secondpart .card .image img {
  width: 282px;
  object-fit: cover;
  margin-bottom: 10px;
}

#kienflex .kienflex-secondpart .card:hover .image img {
  width: 350px;
  transition: 1s;
}

#kienflex .kienflex-secondpart .hidden {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% /3));
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  width: 998px;
  transform: translateX(25px);
}

#kienflex .kienflex-secondpart .hidden-content {
  width: 282px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#kienflex .kienflex-secondpart .hidden-content .slogan {
  text-align: center;
  color: #fff;
  border-top: 1px solid #fff;
  padding-top: 10px;
  margin-top: 15px;
}

#kienflex .kienflex-secondpart .arrow {
  cursor: pointer;
  position: absolute;
}

#kienflex .kienflex-secondpart #right {
  right: -67px;
  top: 125px;
}

#kienflex .kienflex-secondpart #left {
  left: -70px;
  top: 125px;
}

#kienflex .kienflex-secondpart .tamgiacvang {
  margin-bottom: 20px;
}

#kienflex .kienflex-secondpart .modal {
  position: absolute;
  top: 70px;
  width: 1200px;
  height: 620px;
  background-color: #000;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#kienflex .kienflex-secondpart .modal .kien-tt {
  display: inline-block;
  width: 610px;
  border: 1px solid #fff;
  border-radius: 25px;
  position: relative;
  padding: 20px 0;
  padding-left: 252px;
  padding-right: 35px;
  margin-top: 30px;
  margin-left: 100px;
}

#kienflex .kienflex-secondpart .modal .kien-tt-decs {
  position: absolute;
  right: 0;
  left: 0;
  background-color: #fcee21;
  padding-bottom: 30px;
  padding-right: 550px;
  padding-left: 50px;
  margin-left: 115px;
  bottom: 40px;
  display: flex;
}

#kienflex .kienflex-secondpart .modal .kien-tt-decs p {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-align: left;
  margin-bottom: 10px;
  font-family: Montserrat-Black;
  margin-top: 30px;
  width: 300px;
}

#kienflex .kienflex-secondpart .modal .kien-tt-decs span {
  font-size: 12px;
  margin-left: 10px;
}

#kienflex .kienflex-secondpart .modal .kien-tt-decs .mama {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

#kienflex .kienflex-secondpart .modal h5,
#kienflex .kienflex-secondpart .modal .kien-tt h5 {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  font-family: Montserrat-Black;
}

#kienflex .kienflex-secondpart .modal h5 {
  text-align: left;
}

#kienflex .kienflex-secondpart .modal p {
  color: #fff;
  text-align: center;
}

#kienflex .kienflex-secondpart .modal .kien-tt p {
  color: #fff;
  text-align: justify;
}

#kienflex .kienflex-secondpart .modal .kien-tt img {
  position: absolute;
  bottom: -35px;
  left: 0;
}

#kienflex .kienflex-secondpart .modal .gr105 {
  position: absolute;
  bottom: 90px;
  right: 90px;
}

#kienflex .kienflex-secondpart .modal .gr78 {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  cursor: pointer;
}

#kienflex .kienflex-secondpart .modal1 {
  display: block;
}



#footer {
  height: 100px;
  background-color: #000;
}




